.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.Card {
  background: 2px solid gold;
}

.navbar {
  align-items: center;
  border-bottom: 1px solid black;
  height: 10vh;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
}

.dark-mode__toggle {
  background: yellow;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: yellow;
  border-radius: 50px;
  height: 18px;
  right: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  right: 18px;
}

.dark-mode {
  color: #fff;
  background-color: #313843;
}

.navbar {
  background-color:rgb(139,0,0);
  border: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
